In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [2]:
msheet = pd.read_csv("marks.csv")
msheet

    Roll num      Name   F_name  Marks Remarks
0          1     Abdul   ramzan     79    pass
1          2    haseeb    ramzn     76    pass
2          3       Ali    raziq     54    fail
3          4      khan   suhbat     43    fail
4          5    farman   mamoor     98    pass
5          6     jalal     khan     98    pass
6          7     irfan    jamal     99    pass
7          8    shoaib    karim     76    pass
8          9     zahid   sohail     43    fail
9         10   shakoor   saleem     12    fail
10        11     zaman   javaid      0    fail
11        12     karim    basit     56    fail
12        13     munir    rahat     67    fail
13        14     kamal   shawli     70    pass
14        15  rawinder   afghan     23    fail
15        16    satnam    samad     58    fail
16        17     sunny   tooray     69    fail
17        18     jamal    yahya     72    pass
18        19     samad  benzema     73    pass
19        20    sardar  ronaldo     77    pass

In [3]:
msheet.head()

   Roll num    Name  F_name  Marks Remarks
0         1   Abdul  ramzan     79    pass
1         2  haseeb   ramzn     76    pass
2         3     Ali   raziq     54    fail
3         4    khan  suhbat     43    fail
4         5  farman  mamoor     98    pass

In [4]:
msheet.describe()

       Roll num      Marks
count  20.00000  20.000000
mean   10.50000  62.150000
std     5.91608  27.075479
min     1.00000   0.000000
25%     5.75000  51.250000
50%    10.50000  69.500000
75%    15.25000  76.250000
max    20.00000  99.000000

In [5]:
from sklearn.preprocessing import LabelEncoder
le= LabelEncoder()

In [6]:
msheet['Remarks']=le.fit_transform(msheet['Remarks'])
#msheet["Remarks"]=le.fit_transform(msheet["Remarks"])
msheet.head()

   Roll num    Name  F_name  Marks  Remarks
0         1   Abdul  ramzan     79        1
1         2  haseeb   ramzn     76        1
2         3     Ali   raziq     54        0
3         4    khan  suhbat     43        0
4         5  farman  mamoor     98        1

In [7]:
msheet.columns

Index(['Roll num', 'Name', 'F_name', 'Marks', 'Remarks'], dtype='object')

In [8]:
y = msheet["Remarks"]
x = msheet.drop(columns=msheet['Remarks'],msheet['Name'],msheet['F_name'])

SyntaxError: positional argument follows keyword argument (3162121402.py, line 2)

In [9]:
from sklearn.model_selection import train_test_split
X

NameError: name 'X' is not defined

In [10]:
x_train, x_test, y_train, y_test = train_test_split(x, y,test_size= 0.2, random_state= 20)

NameError: name 'x' is not defined

In [11]:
len(x_train),len(y_train)

NameError: name 'x_train' is not defined

In [12]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()

In [13]:
model.fit(x_train,y_train)

NameError: name 'x_train' is not defined